@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
:root {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.dark {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity)); /* gray-900 */
  color: rgb(255 255 255 / var(--tw-bg-opacity));
}
